/*variables por defecto de bootstrap editadas*/
:root{
    --bs-body-bg:rgb(18, 18, 19);
    --bs-tertiary-bg-rgb:0;
    --bs-secondary-color: rgba(191, 195, 187, 0.927);
}
/*body*/
*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    color: rgb(182, 173, 107);
    font-family: initial;
    box-sizing: content-box;
}
/*Header*/
header{
    display: flex;
    justify-content: space-around;
    position:fixed;
    z-index: 1;
    width:100%;
    background: rgb(0, 0, 0);
}
/*Logos y span*/
.emblema img{
    width:154px;
    height:34px;
    padding-top:10px;
}
#logotipo{
    width: 100px;
    display: none;
}
/*Menu principal*/
#navbarNav ul{
    background-color: black;
    width:100%;
    gap:5px;
}
#navbarNav ul li{
    background-color: black;
    margin: 16px;
    height: 100%;
}
#navbarNav ul li a{
    font-family: 'Seymour One', sans-serif; 
    font-size: .8rem;
    text-align: center;
    color: rgba(162, 162, 142, 0.872);
    text-decoration: none;
    background-image:linear-gradient(rgb(51, 40, 40) , rgb(238, 255, 7));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .6s;
}
#navbarNav ul li a:hover, a:focus {
    background-size: 100% 2px;
}
#navbarNav ul li a:hover{
    color:rgb(247, 243, 6);
    transition:0.6s;
}
.footer__nav a.active ,#navbarNav ul li a.active{
    color:rgb(247, 243, 6);
    text-decoration:underline;
}
span img{
    width:30px;
}
/*scroll de imagenes*/
#scroll{
    padding-top:50px;
    width:100%;
    margin:0;
    overflow: hidden;
    height:250px;
}
#scroll ul{
    display:flex;
    width:420%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    padding-left: 0px;
}
#scroll ul li{
    list-style: none;
    width: 100%;
}
#scroll img{
    width: 100%;
    height:250px;
}
@keyframes cambio {
    0% {margin-left: 0; }
    20%{ margin-left: 0; }

    25%{margin-left: -100%;}
    45%{margin-left: -110%;}

    50%{margin-left: -210%;}
    70%{margin-left: -220%;}

    75%{margin-left: -320%;}
    100%{margin-left: -330%;}
}
/*Index*/
.button__arriba{
    display: inline-block;
    background: rgb(222, 209, 153);
    margin:80px 20px;
}
.button__arriba a{
    color: rgb(15, 15, 15);
    background: rgb(230, 214, 145);
    font-size: 0.9rem;
    text-decoration: none;
}
.encabezado{
    background: rgb(7, 7, 7);
    margin-bottom:100px;
}
.encabezado__articulo{
    text-align: center;
    justify-content: center;
}
.encabezado__titulo{
    padding-bottom: 10px;
    font-size: 1.9rem;
    color: rgb(231, 199, 18);
}
.encabezado__complemento{
    font-size: .8rem;
    position: relative;
    text-align: center;
    width: 100%;
    color: rgb(146, 134, 66);
    padding-bottom:10px;
}
.noticias h2{
    padding:5px;
    border-radius: 5px;
    color: rgb(255, 238, 0);
    display: inline-block;
    background: rgb(122, 118, 118);
    margin-left: 30px;
}
.card{
    background:rgba(71, 68, 55, 0.521);
    text-align: center;
    display: flex;
    align-items: center;
    border: solid 1px;
    margin:5px;
}
.card img{ 
    height:100%;
    width:300px;
    max-width: 100%;
    max-height: 250px;
}
.card h5{
    color: rgb(235, 180, 31);
    background:rgba(53, 52, 37, 0.801);
    font-size: 1.8rem;
}
.card p{
    color: rgb(241, 208, 124);
    font-size: 1rem;
    background:none;
    font-family: 'Courier New', Courier, monospace;
}
.card:hover{
    transition: 1s;
    cursor: pointer;
    opacity: 80%;
}
.card-group{
    padding:20px;
}
.text-muted {
    color: rgb(197, 191, 140);
}
/*Formulario*/
.formulario{
    max-width: 100%;
    width: 90%;
    border: 2px solid;
    align-content: center;
    text-align: center;
    margin:auto;
    margin-top: 130px;
    background:black;
}
.formulario h2{
    justify-content: center;
    font-size:1.4rem;
    padding:auto;
    background: none;
    margin: 50px;
}
.formulario input{
    background: rgb(247, 245, 245);
    height:25px;
    color: black;
    width: 70%;
}  
.formulario__correo ,.formulario__nombre ,.formulario__mensaje{
    font-size: 1rem;
    margin-top: 10px;
    padding: auto;
}
.formulario textarea{
    background: white;
    color: black;
    width: 70%;
}
#Enviar{
    color: rgb(253, 251, 251);
    background: rgb(6, 173, 196);
    padding:auto;
    font-size: 1rem;
    margin:50px;
    width:90px;
    height: 30px;
}
#Enviar:hover{
    background:rgb(116, 218, 231);
    cursor: pointer;
    color: rgb(255, 254, 254);
    transition: .7s;
}
/*Footer*/
#footer{
    width: 100%;
    text-align: center;
    background: black;
}
#footer h2{
    font-size: 1rem;
    margin:40px;
}
#footer a{
    font-size: .8rem;
}
#footer img{
    width: 30px;
    margin:10px;
}
#footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.footer__nav h2{
    font-size: 1rem;
    color: rgb(218, 191, 43);
    background: rgb(12, 12, 12);
}
.footer__nav ul li{
    margin: 1rem;
}
.footer__nav ul li a{
    text-decoration: none;
    color: rgb(239, 239, 177);
    font-size: 1.1rem;
}
.footer__nav ul li a:hover{
    color:rgb(247, 243, 6);
    transition: 0.5s;
}
/*Galeria*/
.title__galeria{
    background: none;
}
.title__galeria h1{
    font-size: 3rem;
    background: none;
    display: flex;
    justify-content: center;
    padding-top:270px;
}
.title__galeria h2{
    background:rgb(49, 44, 44);
    font-size: 1.6rem;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.title__galeria p{
    font-family: monospace;
    padding: auto;
    margin: 15px;
    background:rgb(49, 48, 48);
    font-size: 1rem;
    color: rgb(238, 225, 150);
    padding:15px;
}
.galeria{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    }
.galeria img{
    margin: 0px auto;
    width:300px;
    max-width: 100%;
    max-height: 300px;
}
.galeria img:hover{
    box-shadow: 0px 0px 30px;
    cursor: pointer;
    transition: 0.6s;
    opacity: 70%;
}
.galeria__videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
iframe{
    display: flex;
    flex-direction:column;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
    background: none;
    height:350px;
    width: 250px;
}
/* Contactanos*/
.contactanos img{
    display: block;
    margin: auto;
    width: 250px;
    }
.contactanos{
    padding-top:70px;
}
.contactanos__title{
    padding-top:220px;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background: none;
}
/*Palmares e Informacion*/
.centrar{
    text-align: center;
    background: none;
    padding-top: 150px;
}
.centar__parr{
    text-align: center;
    background: none;
}
.centar__parr h1{
    padding:10px;}
/*MEDIA QUERIE*/ 
/*Tamaño 576px*/
@media screen and (min-width :576px) {
    .encabezado__titulo ,.title__galeria h1{
        font-size: 5rem;
    }
    .title__galeria h2{
        font-size: 2.6rem;
    }
    .card-group{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
    #scroll{
        padding-top: 100px;
        height: 350px;
    }
    #scroll img{
        height: 350px;
    }
    .emblema img{
        padding-top: 30px;
    }
    #logotipo{
        display: block;
        border-radius: 50%;
        width:100px;
        max-width: 100%;
        animation: girar linear infinite 10s;
    }
    @keyframes girar{
        from{
            transform:rotateY(0deg)
        }
        to{
            transform: rotateY(360deg);
        }
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    }
    .galeria img{
        width:500px;
        max-width: 100%;
        max-height: 350px;
    }
    .title__galeria p{
        padding: 20px;
        margin:20px;
    }
    .contactanos img{
        width: 550px;
    }
    iframe{
        max-width: 100%;
        height:450px;
        width: 400px;
    }
}
/*Tamaño 992px*/
@media screen and (min-width:992px) {
    #logotipo{
        width: 200px;
        height: 150px;
    }
    #scroll{
        padding-top:150px;
        height: 550px;
    }
    #scroll img{
        height: 550px;
    }
    .formulario label{
        font-size: 1.8rem;
    }
    .encabezado__articulo h2 ,.noticias #cards__title, #formulario__h2{
        font-size: 3rem;
    }
    #footer #footer__h2{
        font-size: 2.7rem;
    }
    #footer a img{
        width: 60px;
    }
    .title__galeria p ,.footer__nav #footer__nav__h2 ,#parr{
        font-size: 2.2rem;
    }
    .card img{
        width:500px;
        max-width: 100%;
        max-height: 350px;
        height:100%;
    }
    .card{
        margin:20px;
        padding:10px;
    }
    .card p,#footer a{
        font-size: 1.5rem;
    }
    .encabezado__articulo h1 ,.title__galeria h1{
        font-size: 8rem;
    }
    .title__galeria h2 ,.contactanos__title{
    font-size: 5rem;
    }
    .card-group{
        display: grid;
        grid-template-columns:repeat(3,1fr);
    }
    .contactanos img{
        width: 850px;
    }
    .formulario{
        width: 60%;
    }
    .formulario input ,.formulario textarea{
        width: 40%;
    }
    .emblema img{
        padding-top:55px;
        width: 206px;
        height: 44px;
    }
    .galeria{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    iframe{
        max-width: 100%;
        height:600px;
        width: 600px;
    }
    .title__galeria p{
        padding: 20px;
        margin: 30px;
    }
}